.carousel {
	position: relative;
	width: 100%;
	max-width: 37.5rem;
	margin: 1.25rem auto;
	overflow: hidden;
	border: 0.125rem solid #f7af03;
	border-radius: 1.25rem;
	background-color: #000;
	box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
	padding: 3.125rem 1.25rem;
}

.carousel h2 {
	color: #f7af03;
	font-size: 3.125rem;
	font-weight: bold;
	margin-bottom: 3.125rem;
	text-align: center;
}

.carousel-inner {
	display: flex;
	transition: transform 0.5s ease;
}

.carousel-item {
	min-width: 100%;
	box-sizing: border-box;
	flex-shrink: 0;
	display: none;
	padding: 1.25rem;
	text-align: center;
}

.carousel-item.active {
	display: block;
}

.options {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.carousel .options button {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f7af03;
	color: #00163f;
	border: none;
	border-radius: 0.625rem;
	padding: 0.625rem 1.25rem;
	margin: 0.625rem auto;
	cursor: pointer;
	font-size: 1.25rem;
	width: 100%;
	max-width: 31.25rem;
}

.carousel .options button:hover {
	background-color: #00163f;
	color: #f7af03;
	transition: all 0.3s ease;
}

#feedback {
	font-size: 1.2em;
	background-color: #00163f;
	color: #f7af03;
	border-radius: 0.625rem;
	max-width: 31.25rem;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	margin: 20px auto;
	width: 80%;
}

#restartBtn {
	margin: 1.25rem auto;
	display: block;
	width: 100%;
	max-width: 31.25rem;
}

@media (max-width: 1366px) {
	.carousel {
		width: 100%;
		padding: 1.25rem 3rem;
		max-width: 50rem;
		margin: 0.9375rem auto;
	}

	.carousel .options button {
		width: 100%;
		max-width: 40rem;
		margin: 0.625rem auto;
	}
}
